<h2>Create an Account</h2>

<div class="inputContainer">
    <h4>Will you be a customer or driver?</h4>
    <select name="userTypeId" [(ngModel)]="user.user_role_id_fk">
        <option value="1">Customer</option>
        <option value="2">Driver</option>
    </select>

    <h4>Enter your First Name:</h4>
    <input type="text" name="firstName" [(ngModel)]="user.user_first_name"> 
    
    <h4>Enter your Last Name:</h4>
    <input type="text" name="lastName" [(ngModel)]="user.user_last_name">
    
    <h4>Enter a username:</h4>
    <input type="text" name="username" [(ngModel)]="user.user_username" placeholder="Enter username here">
    
    <h4>Enter your email:</h4>
    <input type="text" name="email" [(ngModel)]="user.user_email" placeholder="Enter email address here">
    
    <h4>Create a password:</h4>
    <input type="text" name="password" [(ngModel)]="user.user_password" placeholder="Enter password here">
    
    <!-- 
    <h4>Confirm password:</h4>
    <input type="text" name="password2" ngModel placeholder="Enter password here">
     -->
</div>

<div>
    <!-- NTS: actionBtn. avoid putting incomplete code so others can test their functions -->
    <button class="" (click)="createUser()">Create An Account</button> 
</div>